.main_about__container {
    margin-bottom: 60px;
}

.about_quote__content {
    text-align: center;
    width: 50%;
    margin: 0 auto 60px;
}

.about_quote__title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 60px;
    color: var(--color_heading);
    font-family: var(--font_heading);

}

@media screen and (max-width: 991px) {
    .about_quote__content {
        width: 100%;
        margin: 0 auto 30px;
    }

    .about_quote__title {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 575px) {
    .about_quote__title {
        margin-top: 30px;
    }
}

.about_quote__name_span {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.about_quote__name_span:first-child {
    color: var(--color_heading);
}

.about_quote__name_span:not(:last-child):after {
    content: '/';
    margin: 0 5px;
}

.about_info__content {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 15px;
    color: var(--color_tertiary);
}

.about_info__content_a {
    color: var(--color_body);
}

.about_info__content_a:hover {
    color: var(--color_primary);
}

.about_info__right {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .about_info__right {
        flex-direction: column-reverse;
    }
}

.about_our__title {
    color: var(--color_heading);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about_our__caption {
    font-size: 15px;
    line-height: 1.8em;
    margin-bottom: 15px;
}

.about_info__our {
    padding-top: 70px;
}

@media screen and (min-width: 1200px) {
    .about_info__our {
        padding-left: 70px;
    }
}

@media screen and (max-width: 991px) {
    .about_info__our {
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .about_info__our {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .about_our__caption {
        margin-bottom: 0;
    }
}

.about_info__title {
    color: var(--color_heading);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.about_info__social,
.about_info__item {
    margin-bottom: 34px;
}

.about_info__group {
    padding-top: 70px;
}

@media screen and (min-width: 1200px) {
    .about_info__group {
        padding-left: 100px;
    }
}

@media screen and (max-width: 991px) {
    .about_info__group {
        padding-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .about_info__group {
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .about_info__group {
        padding-top: 20px;
    }

    .about_info__item {
        margin-bottom: 20px;
    }
}
.about_social_content{
    margin-top: 10px;
}

.about_info__social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.about_info__title__social{
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 60px;
}

.about_info__social_list_social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}


.about_list_social__item {
    margin-right: 5px;
    margin-bottom: 5px;
}

.about_list_social__item_a {
    padding-right: 0;
    border-radius: 5px;
}
.about_list_social__item_a:hover {
    color: #fff;
}

@media screen and (max-width: 767px) {
    .about_info__social {
        justify-content: center;
    }

    .about_info__title__social {
        margin-right: 15px;
    }
}

.about_team__content {
    margin-top: 60px;
}

.about_team__title {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    zoom: 1;
    line-height: 1em;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    width: 100%;
    font-size: 40px;
    margin-bottom: 30px;
    color: var(--color_heading);
    font-family: var(--font_heading);
}

@media screen and (max-width: 767px) {
    .about_team__content {
        margin-top: 30px;
    }

    .about_team__title {
        font-size: 40px;
        margin-bottom: 30px;
    }
}

.about_team__name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color_heading);
}

.about_team__position {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
    color: var(--color_body);
}

.about_team__avatar {
    margin-bottom: 20px;
    overflow: hidden;
}

.about_team__avatar_categories__image {
    transition: all 0.35s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about_team__avatar_categories__image:hover{
    transform: scale(1.1) !important;
}