/* Login */
.customers_layout {
    margin-bottom: 60px;
}

.customers_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
}

.customers_login__layout {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .customers_login__layout {
        width: 100%;
    }
}

.login_customer {
    max-width: 500px;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
}

.customers_layout_customer_h2 {
    color: var(--color_heading);
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.customer_form {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.customer_field:first-of-type {
    margin-top: 0;
}

.customer_field {
    margin: 2rem 0 0 0;
}

.customer_field_input {
    height: 40px !important;
    line-height: 40px;
    background-color: #fff;
}

.customer_action_bottom {
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.customer_action_link {
    color: var(--color_body);
    font-style: italic;
    white-space: nowrap;
    margin: 0;
    cursor: pointer;
}

.customer_action_link:hover {
    color: var(--color_primary);
}

.redirect_message {
    text-align: center;
    margin: 50px;
    color: var(--color_heading) !important;
}


/* Reset Password */
.customer_note {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.customer_note_or {
    margin-right: 10px;
    margin-left: 0px;
}


/* Register */
.customers_register__layout {
    width: 100%;
    margin: 0 auto;
}

.register_customer {
    max-width: 700px;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
}

.customers_register_field {
    width: calc(50% - 15px);
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
    .customers_register_field {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    .customers_register_field {
        width: 100%;
    }
}

.register_errortext {
    width: 100%;
}

/* Account Dashboard */
.account_layout {
    margin-top: 3rem;
}

.account_content {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 60px;
    font-size: 15px;
    background: #fff;
    padding: 50px;
}

.account_content__info_div {
    margin-bottom: 30px;
}

.account_details__title {
    color: var(--color_heading);
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.account_details__item {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    align-items: center;
}

.details_item__title {
    color: var(--color_heading);
    width: 120px;
    max-width: 120px;
    margin-right: 15px;
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
}

.details_item__content {
    margin-bottom: 0;
    color: var(--color_body);
    flex: 1;
}

.account_link__title {
    color: #fff;
    background-color: var(--color_primary);
    padding: 10.5px 20px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.account_link__content {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color_line);
    border-top-width: 0;
    padding: 23px 20px;
    font-size: 14px;
    color: var(--color_heading);
    padding-bottom: 0px;
}

.account_link__item {
    list-style: disc;
    margin-bottom: 10px;
    color: var(--color_body);
}

.account_link__item_a {
    color: var(--color_body);
    cursor: pointer;
}

.account_link__item_a:hover {
    color: var(--color_primary);
}

.account_link__item:not(:last-child) {
    margin-bottom: 10px;
}

.account_orders__content {
    font-size: 15px;
}

.account_orders_table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1.4rem;
    border-style: hidden;
    box-shadow: 0 0 0 0.1rem #1a1b1833;
}

.account_orders_table td, .account_orders_table th {
    padding: 1em;
    border: 0.1rem solid rgba(26, 27, 24, .2);
}

.account_notify {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .account_content__info_div {
        width: 100%;
    }
}

/* Account Edit Information */
.address_content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 50px;
    font-size: 15px;
    background: #fff;
    padding: 50px;
}

.address_form {
    display: flex;
    flex-flow: row wrap;
}

.address_form>div {
    width: 100%;
    text-align: left;
}

.address_field {
    margin: 2rem 0 0 0;
}

.address_field_input {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
}

.address_action_bottom {
    justify-content: flex-start;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.address_form_button {
    margin-right: 1rem;
}

.address_action_link {
    color: var(--color_body);
    font-style: italic;
    white-space: nowrap;
    margin: 0;
    cursor: pointer;
}

.address_action_link:hover {
    color: var(--color_primary);
}

.addresses_redirect_message {
    color: var(--color_heading) !important;
    text-align: center;
    padding: 50px;
}

@media only screen and (min-width: 768px) {
    .address_form>div:nth-of-type(1) {
        padding-right: 2rem;
    }

    .address_form>div:nth-of-type(1),
    .address_form>div:nth-of-type(2) {
        flex-basis: 50%;
        box-sizing: border-box;
    }
}

.address_update_text {
    display: flex;
    width: 100%;
    margin-top: 20px;
    color: var(--color_primary);
}


/* Account Order */
.order_content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 30px;
}

.order_content_left {
    width: calc(100% - 300px);
}

.order_content_right {
    width: 300px;
    padding-left: 30px;
}

.order_content_left h2 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--color_heading);
}

.order_content_left p {
    margin: 0 0 3rem;
    font-size: 1.6rem;
    line-height: 1.8em;
}

.order_content_left table {
    table-layout: auto;
    border-collapse: collapse;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: none;
    width: 100%;
    font-size: 1.6rem;
    position: relative;
    margin-bottom: 50px;
}

.order_content_left th, .order_content_left td {
    font-weight: 400;
    line-height: 1;
    border: none;
    padding: 0;
    padding-right: 2.2rem;
}

.order_content_left thead th {
    font-size: 14px;
    letter-spacing: .07rem;
    text-transform: uppercase;
}

.order_content_left thead:after, .order_content_left tfoot:before {
    content: " ";
    height: 0.1rem;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, .1);
}

.order_content_left tbody tr {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.order_table_product_image {
    max-width: 100px;
}

.order_table_product_name {
    margin-left: 10px;
}

.order_table_product_option_name {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .order_table_product_option_name {
        width: 100%;
    }
}

.order_content_left thead:after, .order_content_left tfoot:before {
    content: " ";
    height: 0.1rem;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, .1);
}

.order_content_left tfoot td:first-of-type, .order_content_left tfoot td {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.order_content_left tfoot td:first-of-type {
    text-align: left;
}

.order_content_left tfoot tr:first-of-type td {
    padding-top: 4rem;
}

.order_content_left tfoot tr:last-of-type td, .order_content_left tfoot tr:last-of-type th {
    font-size: 2.2rem;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    font-weight: 600;
    color: var(--color_heading);
}

.order_content_right h2 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--color_heading);
}

.order_content_right div p{    
    margin: 0 0 3rem;
    font-size: 1.6rem;
    line-height: 1.8em;
    margin-bottom: 1rem;
}
.order_content_right div p:last-child{    
    margin: 0 0 3rem;
    font-size: 1.6rem;
    line-height: 1.8em;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {

    .order_content_left table {
        border: none;
        box-shadow: 0 0 0 1px #0000001a;
    }

    .order_content_left th, .order_content_left td:first-of-type {
        text-align: left;
        padding-left: 0;
        padding-right: 2.2rem;
    }

    .order_content_left thead th, .order_content_left tbody td:first-of-type {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
    }

    .order_content_left th:first-of-type, .order_content_left td:first-of-type {
        padding-left: 2.2rem;
    }

    .order_content_left thead th:nth-last-child(-n + 3), .order_content_left td:nth-last-child(-n + 3) {
        text-align: center;
    }

    .order_content_left tbody tr:first-of-type {
        border-top: none;
    }

    .order_content_left td:first-of-type {
        align-items: initial;
    }

    .order_content_left tbody td:first-of-type {
        padding-top: 2.4rem;
    }

    .order_content_left tfoot tr:first-of-type td, .order_content_left tfoot tr:first-of-type th {
        padding-top: 2.4rem;
    }

    .order_content_left tfoot tr:last-of-type td, .order_content_left tfoot tr:last-of-type th {
        padding-bottom: 2.4rem;
    }

    .order_content_left tr td:last-child, .order_content_left tr th:last-child {
        text-align: right;
    }
}

@media screen and (min-width: 992px) {
    .order_content_right>div:nth-child(1) {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 991px) {
    .order_content_left, .order_content_right {
        width: 100%;
    }
    .order_content_right {
        padding-left: 0;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {

    .order_content_left thead,
    .order_content_left th,
    .order_content_left tfoot td:first-of-type {
        display: none;
    }

    .order_content_left td {
        display: flex;
        text-align: right;
        align-items: center !important;
        line-height: 1em !important;
        margin-bottom: 15px;
    }

    .order_content_left td:not(:last-child) {
        margin-bottom: 15px;
    }

    .order_content_left td::before {
        content: attr(data-label);
        padding-right: 2rem;
        text-transform: uppercase;
        flex-grow: 1;
        text-align: left;
    }

    .order_content_left td:first-of-type {
        display: flex;
        align-items: center !important;
        margin-top: 10px;
    }

    .order_content_left tr {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .order_content_left tfoot tr:first-of-type td{
        padding-top: 2rem;
    }
    .order_content_left tfoot tr:last-of-type td{
        padding-bottom:0;
    }
    .order_content_left table{
        margin-bottom:10px;
    }
}
