.no_article_h2 {
    text-align: center;
    margin: 100px 30px 50px;
}

.article_template__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color_heading);
    margin: 0;
    margin-bottom: 20px;
}

.article_template__content {
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .article_content_padding_left {
        padding-left: 10px;
    }

    .article_content_padding_right {
        padding-right: 10px;
    }
}

@media screen and (min-width: 992px) {
    .article_content_padding_left {
        padding-left: 20px;
    }

    .article_content_padding_right {
        padding-right: 20px;
    }
}

.article_template__layout {
    overflow: hidden;
    padding-top: 15px;
}

.article_template__image {
    overflow: hidden;
    position: relative;
}

.article_template__group {
    padding-top: 30px;
}

.article_template__info {
    margin-bottom: 10px;
}

.article_template__info * {
    font-size: 15px;
}

.article_template__info * {
    color: var(--color_heading);
}

.article_template__info_item_author {
    color: var(--color_primary);
}

.article_template__share {
    margin-top: 25px;
}

/* Tags */

.article_template__tags {
    margin-top: 20px;
    color: var(--color_primary);
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color_line);
}

.article_template__tags_title {
    text-transform: uppercase;
    font-size: 20px;
    color: var(--color_heading);
    padding-right: 10px;
}

.article_template__tags_title_span {
    font-size: 15px;
    margin-left: 5px;
    color: var(--color_primary);
    display: inline-block;
}

.article_template__tags_title_span:hover {
    text-decoration: underline;
}

/* Related Bottom Slider */
.article_related {
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .article_related {
        margin-top: 60px;
    }
}

.article_related_item__grid {
    padding-bottom: 0;
    padding-top: 30px;
}

.article_related_item_right, .article_related_item_left {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.article_related_item_right {
    margin-top: 15px;
}

.article_related_title {
    position: relative;
    margin-bottom: 0;
    border-top: 2px solid var(--color_primary);
    color: var(--color_heading);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.article_related_title * {
    margin-bottom: 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}

.article_related_title_h2 {
    display: inline-block;
    zoom: 1;
    background-color: var(--color_content_bg);
    position: relative;
    padding-right: 20px;
}

.article_related_title_h3{
    font-size: 16px;
    text-decoration: none;
    transition: all .35s;    
    line-height: 1.3em;
    font-weight: 600;
    color: var(--color_heading);
    font-family: var(--font_heading);    
}
.article_related_item_info{
    padding-left: 0;
    font-size: 14px;
    margin-left: -5px;
}
.article_related_item__author, .article_related_item__date{
    display: inline-block;
    padding-right: 5px;    
}
.article_related_item__author_user{
    color: var(--color_primary);
    padding-left: 5px;
}
.article_item__image{
    position: relative !important;
}


/* Comment */
.article_comment {
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .article_comment {
        margin-top: 60px;
    }
}

.article_comment_wrapper {
    margin-top: 30px;
}

.article_comment_title {
    position: relative;
    margin-bottom: 0;
    border-top: 2px solid var(--color_primary);
    color: var(--color_heading);    
    padding-top: 10px;    
}

.article_comment_form {
    padding: 20px;
    margin-top: 10px;
    background-color: var(--color_content_bg);
    border: 1px solid var(--color_line);
}
.article_comment_warning{
    text-align: center;
    margin-top: 20px;
}

.faqs_contact__content_field__input {
    height: 40px;
    line-height: 40px;
    outline: none;
    background-color: #f7f7f7;
}

.faqs_contact__content_contact__fields_field:nth-child(2) {
    margin-top: 20px;
}

.faqs_contact__content_contact__button {
    text-align: center;
}

.faqs_contact__content_contact__button_button {
    min-width: 120px;
}

.main_faqs__layout {
    margin-bottom: 60px;
}

.faqs_textarea__label {
    top: 30px;
}

@media only screen and (max-width: 575px) {
    .faqs_contact__content_contact__fields_field {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .faqs_contact__content_contact__button {
        margin-top: 0;
    }

    .main_faqs__title {
        margin-top: 30px;
    }
}

.contact_submit_button_complete {
    background-color: #de6e37;
    color: #fff;
}

.contact_submit_button_loading {
    color: #FFF;
    display: inline-block;
    box-shadow: inset 100px 0 0 0 #de6e37;
    -webkit-transition: ease-out 2s;
    -moz-transition: ease-out 2s;
    transition: ease-out 2s;
}

.contact_notify {
    color: red;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    margin-top: 30px;
}

/* Sidebar */
.blog_sidebar__item:not(:last-child) {
    border-bottom: 1px solid var(--color_line);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.blog_sidebar__item_accordion__title {
    margin-bottom: 10px;
}

.blog_sidebar__item_accordion__content {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-top: 0;
    display: block;
}

@media screen and (max-width: 768px) {
    .blog_sidebar__item_accordion__content {
        background-color: #fff;
    }
}

body.banner-radius .blog-sidebar__banner .effect-parent {
    border-radius: var(--radius_value);
}

.blog-sidebar__banner .accordion__content {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

.blog-sidebar__article .accordion__content {
    padding-bottom: 25px !important;
}

.blog-sidebar__item .accordion__content .article-item__content:last-child .article-item__grid {
    padding-bottom: 0;
}

.sidebar__item_article_item__grid {
    padding-top: 0;
}

.sidebar__item_article_item__grid_readmore, .sidebar__item_article_item__grid_description {
    display: none !important;
}

.blog-sidebar__item .accordion__content .article-item__grid .article-item__left a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.sidebar__article_item_right_title {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    padding: 0 !important;
    font-weight: 600;
}

.sidebar__article_item__right_info {
    margin-top: 5px;
    padding-left: 0;
}

.blog-sidebar__item ul.article-item__info {
    margin-bottom: 5px;
    font-size: 13px;
}

.articles_article_item__right {
    padding-left: 15px;
}

.blog-sidebar__item .article-item__author {
    display: none !important;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .articles_article_item__right {
        padding-left: 10px !important;
    }
}

@media screen and (min-width: 768px) {
    .blog_template__sidebar__right {
        border-left: 1px solid var(--color_line);
        padding-left: 10px;
    }

    .blog_template__sidebar__left {
        border-right: 1px solid var(--color_line);
        padding-right: 10px;
    }
}

@media screen and (min-width: 992px) {
    .blog_template__sidebar__right {
        padding-left: 20px;
    }

    .blog_template__sidebar__left {
        padding-right: 20px;
    }
}

@media screen and (max-width: 767px) {
    .article-template__content, .blog_template__content, .blog-template__sidebar {
        width: 100%;
    }

    .blog-template__sidebar {
        padding-top: 30px;
    }

    .accordion__content {
        background-color: unset;
    }

    .accordion__content .article-item__content {
        padding: 0;
    }
}

@media screen and (max-width: 575px) {
    
    .accordion__content{
        max-height: unset;
    }
    .article_sidebar_item__grid{
        flex-direction: initial;
    }
    .article_sidebar_item__left {
        width: 40%;
    }
    .article_item__title{
        padding-top: 0!important;
    }

    .article_sidebar_item__right {
        width: 60%;
        padding-left: 10px;
        margin-top: 0;
    }
    .article_sidebar_item__info_li{
        padding-left: 0;
    }
}

.blog_sidebar__listing_content_li_list_menu__item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 15px;
    font-weight: 400;
    color: var(--color_heading);
}

.blog_sidebar__listing_content_li:not(:last-child) {
    margin-bottom: 5px;
}

.blog_sidebar__listing_content_li_list_menu__item:hover {
    color: var(--color_primary);
}
.article_item__image{
    position: relative !important;
}
.article-item__link {
    display: block;
    overflow: hidden;
    width: 100%;
}

.article_item__grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.article_item__left {
    width: 40%;
}

.article_item__right {
    width: 60%;
    padding-left: 20px;
}

.article_item__info {
    padding-left: 0;
    font-size: 14px;
    margin-left: -5px;
}

.article_item__info_li {
    display: inline-block;
    padding-right: 5px;
}

.article_item__author_user {
    color: var(--color_primary);
    padding-left: 5px;
}

.article_item__title {
    text-decoration: none;
    transition: all 0.35s;
    font-size: 20px;
    line-height: 1.3em;
    font-weight: 600;
    color: var(--color_heading);
    font-family: var(--font_heading);
}

.article_item__title:hover {
    color: var(--color_primary);
}

.image-wrap {
    overflow: hidden;
}

.article_item__author-user {
    color: var(--color_primary);
    padding-left: 3px;
}

@media screen and (max-width: 575px) {
    .article_item__right, .article_item__left {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .article_item__right {
        margin-top: 15px;
    }
}
.sidebar__item_article_item__grid {
    padding-top: 0;
}