.blog-articles {
    display: grid;
    grid-gap: 1rem;
}

@media screen and (min-width: 750px) {
    .blog-articles {
        grid-template-columns: 1fr 1fr;
    }

    .blog-articles>*:first-child, .blog-articles>*:nth-child(4), .blog-articles>*:last-child:nth-child(2), .blog-articles>*:last-child:nth-child(5) {
        grid-column: span 2;
        text-align: center;
    }
}

.blog_template__layout {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .blog_template__content_padding_left {
        padding-left: 10px;
    }

    .blog_template__content_padding_right {
        padding-right: 10px;
    }
}

@media screen and (min-width: 992px) {
    .blog_template__content_padding_left {
        padding-left: 20px;
    }

    .blog_template__content_padding_right {
        padding-right: 20px;
    }
}

.pagination__list {
    justify-content: center;
    margin-top: 35px;
}

.article_item__content__layout_list_article_item__right {
    padding-left: 30px;
}

.article_item__title {
    margin-bottom: 10px;
    display: inline-block;
}

.article_item__excerpt {
    font-size: 15px;
    line-height: 1.8em;
}

@media screen and (max-width: 991px) {
    .article_item__grid {
        flex-direction: column;
    }

    .article_item__grid_div {
        width: 100%;
    }

    .article-item__grid .article-item__right {
        padding-left: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 767px) {
    .article_item__title {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    .blog-template__layout .article-item__content {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* Article */

.article-item__link {
    display: block;
    overflow: hidden;
    width: 100%;
}

.article_item__grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.article_item__left {
    width: 40%;
}

.article_item__right {
    width: 60%;
    padding-left: 20px;
}

.article_item__info {
    padding-left: 0;
    font-size: 14px;
    margin-left: -5px;
}

.article_item__info_li {
    display: inline-block;
    padding-right: 5px;
}

.article_item__author_user {
    color: var(--color_primary);
    padding-left: 5px;
}

.article_item__title {
    text-decoration: none;
    transition: all 0.35s;
    font-size: 20px;
    line-height: 1.3em;
    font-weight: 600;
    color: var(--color_heading);
    font-family: var(--font_heading);
}

.article_item__title:hover {
    color: var(--color_primary);
}

.image-wrap {
    overflow: hidden;
}

.article_item__author-user {
    color: var(--color_primary);
    padding-left: 3px;
}

@media screen and (max-width: 575px) {
    .article_item__right, .article_item__left {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .article_item__right {
        margin-top: 15px;
    }
}

/*layout grid*/

.article_item__layout_grid_right, .article_item__layout_grid_left {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.article_item__layout_grid_right {
    padding-top: 25px;
    margin-top: 0;
}

/*layout list*/

@media screen and (min-width: 768px) {
    .article_item__grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.article-item__content.article-item__layout-list .article-item__right {
    text-align: left;
}

.article_item__content__layout_list_article_item__right, .article_item__content__layout_list_article_item__left {
    width: 50%;
}

@media screen and (max-width: 767px) {
    .article_item__content__layout_list_article_item__right, .article_item__content__layout_list_article_item__left {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .article-item__content.article-item__layout-list .article-item__right {
        padding-top: 25px;
    }
}

@media screen and (max-width: 575px) {
    .article-item__content.article-item__layout-list .article-item__right {
        padding-top: 15px;
    }
}


.blog_sidebar__item:not(:last-child) {
    border-bottom: 1px solid var(--color_line);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.blog_sidebar__item_accordion__title {
    margin-bottom: 10px;
}

.blog_sidebar__item_accordion__content {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-top: 0;
    display: block;
}

@media screen and (max-width: 768px) {
    .blog_sidebar__item_accordion__content {
        background-color: #fff;
    }
}

body.banner-radius .blog-sidebar__banner .effect-parent {
    border-radius: var(--radius_value);
}

.blog-sidebar__banner .accordion__content {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

.blog-sidebar__article .accordion__content {
    padding-bottom: 25px !important;
}

.blog-sidebar__item .accordion__content .article-item__content:last-child .article-item__grid {
    padding-bottom: 0;
}

.sidebar__item_article_item__grid {
    padding-top: 0;
}

.sidebar__item_article_item__grid_readmore, .sidebar__item_article_item__grid_description {
    display: none !important;
}

.blog-sidebar__item .accordion__content .article-item__grid .article-item__left a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.sidebar__article_item_right_title {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    padding: 0 !important;
}

.sidebar__article_item__right_info {
    margin-top: 5px;
    padding-left: 0;
}

.blog-sidebar__item ul.article-item__info {
    margin-bottom: 5px;
    font-size: 13px;
}

.articles_article_item__right {
    padding-left: 15px;
}

.blog-sidebar__item .article-item__author {
    display: none !important;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .articles_article_item__right {
        padding-left: 10px !important;
    }
}

@media screen and (min-width: 768px) {
    .blog_template__sidebar__right {
        border-left: 1px solid var(--color_line);
        padding-left: 10px;
    }

    .blog_template__sidebar__left {
        border-right: 1px solid var(--color_line);
        padding-right: 10px;
    }
}

@media screen and (min-width: 992px) {
    .blog_template__sidebar__right {
        padding-left: 20px;
    }

    .blog_template__sidebar__left {
        padding-right: 20px;
    }
}

@media screen and (max-width: 767px) {
    .article-template__content, .blog_template__content, .blog-template__sidebar {
        width: 100%;
    }

    .blog-template__sidebar {
        padding-top: 30px;
    }

    .accordion__content {
        background-color: unset;
    }

    .accordion__content .article-item__content {
        padding: 0;
    }
}

@media screen and (max-width: 575px) {
    
    .accordion__content{
        max-height: unset;
    }
    .article_item__grid{
        flex-direction: initial;
    }
    .article_item__left {
        width: 40%;
    }
    .article_item__title{
        padding-top: 0!important;
    }

    .article_item__right {
        width: 60%;
        padding-left: 10px;
        margin-top: 0;
    }
    .article_item__info_li{
        padding-left: 0;
    }
}

/*End Blog & article*/

/*mobile sidebar*/

@media screen and (max-width: 767px) {
    .blog-sidebar__content {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 575px) {
    .blog-sidebar__content {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .disclosure-has-popup:not(.menu-opening) .mobile-facets__inner {
        transform: translateX(-105vw);
    }

    .mobile-facets__inner {
        width: 350px;
        margin: 0;
    }
}

@media screen and (max-width: 575px) {
    .mobile-facets__inner {
        width: 100%;
    }
    .article_item__content__layout_list_article_item__left{
        margin-bottom: 30px;
    }
}

.blog_sidebar__listing_content_li_list_menu__item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 15px;
    font-weight: 400;
    color: var(--color_heading);
}

.blog_sidebar__listing_content_li:not(:last-child) {
    margin-bottom: 5px;
}

.blog_sidebar__listing_content_li_list_menu__item:hover {
    color: var(--color_primary);
}
.article_item__image{
    position: relative !important;
}
