.cart__items {
    position: relative;
}

@media screen and (min-width: 768px) {
    .cart__items {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .cart_items {
        border-spacing: 0;
        box-shadow: none;
        width: 100%;
        display: table;
    }
}

.cart_items thead th {
    font-size: 16px;
    color: var(--color_body);
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: 600;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 767px) {
    .cart_items thead th {
        padding-left: 0;
        padding-right: 0;
    }

    .cart_items,
    .cart_items thead,
    .cart_items tbody {
        display: block;
        width: 100%;
    }

    .cart_items thead tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.cart_items thead th:last-child {
    width: 30px;
}

.cart_items th:nth-child(1) {
    padding-left: 0px;
}

.cart_items thead {
    background-color: var(--color_content_bg);
}

.cart_items td,
.cart_items th {
    padding: 0;
    border: none;
}

tr.cart_item {
    border-top: 1px solid var(--color_line);
    position: relative;
}

.cart_item__media {
    padding-right: 30px !important;
    position: relative;
}

.cart_item__details {
    font-size: 1.6rem;
    line-height: 1.4;
}

.cart_item__details>* {
    margin: 0;
    max-width: 30rem;
}

.cart_item__details>*+* {
    margin-top: 0.8rem;
}

.cart_item__name {
    text-decoration: none;
    display: block;
    color: var(--color_body);
    font-weight: 500;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.cart_item__name:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    color: var(--color_primary);
}

.product_option {
    font-size: 12px;
    line-height: 1.5;
}

.product_option * {
    display: inline;
    margin: 0;
}

.product_option dd {
    margin-left: 5px;
}

.cart_template__totals {
    border: 1px solid var(--color_line);
    border-left: 0;
    border-right: 0;
    padding: 30px 0;
    margin-bottom: 30px;
}

.totals {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.totals>* {
    font-size: 16px;
    margin: 0;
}

.totals * {
    line-height: 1;
}

.totals>*+* {
    margin-left: 2rem;
}

.totals__subtotal {
    text-transform: uppercase;
}

.totals__subtotal {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding-left: 0;
}

.subtotal_value {
    font-size: 24px;
    font-weight: 600;
    color: var(--color_heading);
}

.tax_note {
    margin: 15px 0 0 0;
    text-align: right;
    display: block;
    font-size: 15px;
}

.cart_template__button>div:last-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 991px) {
    .cart_item__media {
        padding-right: 15px !important;
    }
}

@media screen and (max-width: 767px) {
    .cart_item {
        display: grid;
        grid-template: repeat(2, auto) / repeat(4, 1fr);
        column-gap: 30px;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .cart_item__media {
        padding-right: 0 !important;
        grid-row: 1 / 3;
    }

    .cart_item__details {
        grid-column: 2 / 4;
    }

    .medium_up {
        display: none;
    }

    .cart_item__quantity {
        grid-column: 2 / 4;
        text-align: left;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 10px;
    }

    .cart_item__remove {
        display: none;
    }

    .cart_template__button a {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .cart_items td {
        vertical-align: middle;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .cart_item {
        display: table-row;
    }

    .cart_item__media {
        width: 110px;
    }

    .totals {
        justify-content: space-between;
    }
}

@media screen and (max-width: 575px) {
    .cart_totals_totals {
        padding: 15px 0;
    }
}