.compare_empty {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    transition: all 0.35s;
}

.compare_product {
    width: 100%;
    overflow-x: auto;
}

.compare_product tbody tr td:nth-child(1) {
    width: 12rem;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px;
    text-align: right;
    color: var(--color_body);
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.compare_product tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #f1f1f1;
}

.compare_product td {
    vertical-align: middle;
}

.compare_product td:not(:first-child) {
    width: 250px;
    min-width: 250px;    
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.compare_product td[data-type="product"] {
    vertical-align: top;
}

.compare_product_title {    
    margin-top: 12px;
    margin-bottom: 0px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: var(--color_product_title_text) !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.compare_product_price {
    justify-content: flex-start;
    margin-top: 10px;
}

.compare_product__addcart {
    padding-left: 10px;
    padding-right: 10px;
}

.compare_product_icon {
    height: 30px;
    line-height: 28px;
    padding: 0 5px;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.compare_product_grid{
    background-color: none;
}
.compare_option span{
    margin-left: 5px;
    background: #fff;
    padding-left: 5px;
    padding-right: 5px;
}
.option_color span{
    margin-left: 5px;
    width: 30px;
    border-radius: 3px;
    font-size: 0;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}