.template404__layout {
    min-height: 100vh;
    padding-top: 15px;
    padding-bottom: 15px;    
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .template404__content {
    margin-top: 50vh;
    width: 53%;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .template404__title,
  .template404__sub_title {
    font-size: 80px;
    color: var(--color_heading);
    font-weight: 600;
    font-family: var(--font_heading);
  }
  
  .template404__caption {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    margin-top: 20px;
    display: inline-block;
  }
  
  .template404__content strong {
    color: var(--color_heading);
  }
  
  @media only screen and (max-width: 767px) {
    .template404__content {
      width: 70%;
    }
  
    .template404__title,
    .template404__sub-title {
      font-size: 30px;
    }
  }