/* Slideshow 2*/
.index_slideshow {
    position: relative;
    z-index: 1;
}

.index_slideshow2 {
    position: relative;
    z-index: 1;
}

.slideshow_spaced {
    margin-top: 0;
}

.slideshow_categories__content {
    position: relative;
}

.slideshow_component {
    position: relative;
    display: block;
}

.slideshow_container {
    position: relative;
}

.slideshow_slide_link {
    display: block !important;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    opacity: 0;
}

.slideshow_slide_background_img {
    width: 100%;
}

.slideshow_slide__background {
    background-size: auto 100%;
    background-position: center;
    display: inherit !important;
}

.slideshow_slide_caption {
    position: absolute;
    z-index: 9;
    right: auto;
    transform: translateX(0px);
}

.slideshow_slide_caption1 {
    top: 10%;
    width: 40.625%;
    left: 50%;
    transform: translateX(-50%);
}

.slideshow_slide_caption2 {
    top: 14%;
    width: 22.9167%;
    left: 30%;
}

.slideshow_slide_caption3 {
    top: 13%;
    width: 21.7188%;
    left: 48%;
}

.slideshow_slide_caption4 {
    top: 11%;
    width: 18.6458%;
    left: 51%;
}

@media screen and (min-width: 992px) {
    .slideshow_categories__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 768px) {

    .slideshow_slide_background,
    .slideshow_slide__background,
    .slideshow_container,
    .slideshow_container_swiper_slide,
    .slideshow_container_swiper_container {
        height: 100% !important;
    }
}

@media screen and (min-width: 1200px) {
    .slideshow_slide_background {
        height: 600px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .slideshow_slide_background {
        height: 530px !important;
    }
}

.slideshow_ontop {
    padding-top: 30px;
}

.slideshow_ontop_row1,
.slideshow_ontop_row2 {
    margin-left: -10px;
    margin-right: -10px;
}

.slideshow_ontop_row1>div,
.slideshow_ontop_row2>div {
    z-index: 3;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 767px) {
    .slideshow_ontop_row2>div {
        text-align: center;
    }

    .bbanner_caption {
        text-align: left;
    }
}

.slideshow_ontop_row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slideshow_ontop_row1_allcollections {
    z-index: 2;
}

.slideshow_ontop_row2>div,
.slideshow_ontop_row1_allcollections,
.slideshow_ontop_row1_rbanners>div {
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) and (max-width: 1399px) {

    .slideshow_ontop_row1>div,
    .slideshow_ontop_row1_allcollections {
        width: calc(100%/4);
    }
}

@media screen and (max-width: 425px) {
    .bbanner_caption {
        font-size: 20px;
        top: 10%;
    }

    .bbanner_caption_span {
        font-size: 30px;
        margin-top: 5px;
    }

    .bbanner_caption {
        font-size: 18px;
        top: 10%;
    }

    .bbanner_caption_span {
        margin-top: 0px;
        font-size: 25px;
    }
}

.bbanner_caption {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 575px) {
    .bbanner_caption {
        left: 15px;
        top: 10%;
    }

    .bbanner_caption_span {
        margin-top: 0px;
        display: inline-block;
    }

    .slideshow-ontop-bbanner {
        text-align: center;
    }
}

.bbanner_caption_span {
    font-weight: 700;
    font-size: 30px;
}

@media screen and (min-width: 1600px) {
    .bbanner_caption {
        font-size: 22px;
        width: 150px;
    }

    .bbanner_caption_span {
        font-size: 36px;
    }
}

@media screen and (max-width: 1399px) {
    .bbanner_caption {
        font-size: 16px;
    }

    .bbanner_caption_span {
        font-size: 24px;
    }
}

@media screen and (max-width: 1199px) {
    .bbanner_caption {
        font-size: 20px;
    }

    .bbanner_caption_span {
        font-size: 36px;
    }
}

@media screen and (max-width: 991px) {
    .bbanner_caption {
        font-size: 16px;
    }

    .bbanner_caption_span {
        font-size: 24px;
    }
}

@media screen and (max-width: 575px) {
    .bbanner_caption {
        font-size: 20px;
        left: 25px;
    }

    .slideshow_ontop_row2 .bbanner_caption {
        left: 10px;
        width: 135px;
    }

    .bbanner_caption_span {
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .bbanner_caption {
        top: 13%;
    }

    .bbanner_caption_span {
        margin-top: 15px;
        display: inline-block;
    }
}

@media screen and (min-width: 992px) {
    .slideshow_ontop_row1_rbanners {
        display: flex;
        justify-content: flex-end;
    }

    .slideshow_ontop_row1_rbanners>div {
        width: 100%;
    }
}

@media screen and (min-width: 1400px) {
    .slideshow_ontop_row1_rbanners>div {
        width: 250px;
    }
}

@media screen and (max-width: 991px) {
    .slideshow_ontop_row1_rbanners {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    .slideshow_ontop_row1_rbanners>div {
        width: 100%;
        padding: 0 10px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .slideshow_ontop {
        padding-top: 20px;
    }

    .need_right {
        float: right;
    }
}

.collection__slider {
    position: relative;
    height: 100%;
    display: block;
    width: 100%;
}

.slideshow2_carousel {
    height: 100%;
}

.slideshowproduct_item_content {
    border-radius: 4px;
    padding: 30px 17px;
    color: #fff;
    text-align: center;
    padding-bottom: 60px;
}

.slideshowproduct_heading {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}

.slideshowproduct_subheading {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 15px;
}

.slideshowproduct_price {
    font-size: 30px;
    font-weight: 800;
    line-height: 1em;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
}

.slideshowproduct_img {
    display: block;
    margin-top: 9px;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
}

.slideshowproduct_button {
    margin-top: 20px;
    border: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    color: #000;
    background-color: var(--color_btn_bg1);
}

.slideshowproduct_button:hover {
    color: var(--color_btn_text);
    background-color: var(--color_btn_bg);
}

@media screen and (min-width: 992px) {
    .slideshowproduct_item_content {
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .slideshowproduct_item_content {
        padding: 25px 17px 30px;
    }

    .slideshowproduct_price {
        font-size: 64px;
    }
}

@media screen and (max-width: 575px) {
    .slideshowproduct_heading {
        font-size: 24px;
    }

    .slideshowproduct_price {
        font-size: 40px;
    }
}

@media screen and (max-width: 1199px) {
    .slideshowproduct_price {
        font-size: 24px;
    }
}

@media screen and (max-width: 991px) {
    .slideshowproduct_price {
        font-size: 36px;
    }
}

@media screen and (max-width: 375px) {
    .slideshowproduct_price {
        font-size: 30px;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .slideshow_ontop_row1_rbanners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .slideshow_ontop_row1_rbanners>div {
        width: 50%;
        padding: 0px;
    }
}

.slideshow_ontop_row2 {
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px;
    margin-bottom: 20px;
}

/* Banner caption */
.banners_caption {
    margin-top: 60px;
}

.banners_caption_wrapper {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--color_line);
}

.box_divider {
    padding: 20px 24px;
}

.box_title {
    font-size: 24px;
    color: #000000;
}

.banners_caption__container {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 56px;
}

.banners_caption_row {
    margin-bottom: -40px;
    margin-left: -10px;
    margin-right: -10px;
}

.banners_caption_item {
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.banners_caption_captionarea {
    padding-top: 20px;
    text-align: center;
}

.banners_caption_heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color_heading);
}

.banners_caption_heading:hover {
    color: var(--color_primary);
}

.banners_caption_desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color_heading);
}

@media screen and (max-width: 767px) {
    .banners_caption__container {
        padding-bottom: 30px;
    }

    .banners_caption_row {
        margin-bottom: -30px;
    }

    .banners_caption_item {
        margin-bottom: 30px;
    }

    .banners_caption_heading {
        font-size: 16px;
        line-height: 1.4em;
    }

    .banners_caption_desc {
        font-size: 14px;
    }
}

/*Tab Deal 2*/
.collection_tab_wrapper {
    position: relative;
}

.collection_tab {
    margin-top: 40px;
}

.collection_tab_component {
    display: block;
    position: relative;
    overflow: hidden;
}

.collection_navtab_title {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
}

.collection_navtab_title>* {
    width: calc(100% / 4);
    display: block;
    margin: 0;
    height: 70px;
    border-radius: 16px 16px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 575px) {
    .collection_navtab_title>* {
        padding: 5px;
    }
}

.collection_navtab_title>* {
    margin-right: 1px;
}

.collection_navtab_title>*:last-child {
    margin-right: 0
}

.collection_navtab_tabstitle:not(.tab_isactive) {
    cursor: pointer;
}

.collection_navtab_tabstitle {
    background-color: #a0a0a0;
}


.tab_isactive {
    background-color: #0548d3;
}

.tab_utcactive, .tab_utcdeactivate {
    font-weight: 400;
}

.collection_navtab_tabstitle.tab_utcactive.tab_isactive {
    background-color: #033ea7;
}

/* end of Index css */
.collection_navtab_tabstitle .title {
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
}

.collection_navtab_tabstitle .status_active {
    color: #ffffff;
}

.collection_navtab_tabstitle .status_inactive {
    color: #ffffff;
}

.collection_navtab_tabstitle .status_active {
    display: none;
}

.collection_navtab_tabstitle.utc-active .status_active {
    display: block;
}

.collection_navtab_tabstitle.utc-active .status_inactive {
    display: none;
}

.navtabs__content {
    border-radius: 0 0 4px 4px;
    position: relative;
    background-color: #fff;
}

.tab_gr {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .tab_gr {
        flex-wrap: nowrap;
    }
}

.tab_info_notify {
    font-size: 15px;
    color: #000;
}

.tab_info_timer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.tab_info_banner {
    max-width: 190px;
}

.tab_gr_info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 24px;
}

.tab_gr_infoinner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mobile_left {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
}

.timer_spacing,
.timer_value {
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    color: #000;
}

.timer_value {
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .timer_value {
        max-width: 50px;
    }
}

.timer_spacing {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 575px) {
    .timer_spacing {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.timer_text {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;

}

.timer_sec_wrapper,
.timer_min_wrapper,
.timer_hrs_wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info_viewall {
    text-align: center;
    margin-top: 5px;
}

.info_viewall a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;
}

.tab_status {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 20px !important;
    }

    .tab_status {
        font-size: 12px;
    }
}

@media screen and (max-width: 575px) {
    .title {
        font-size: 18px !important;
    }

    .tab_status {
        font-size: 11px;
    }
}

.tab_products_gr {
    margin-bottom: -30px;
    padding: 25px 25px 25px 0px;
}

@media screen and (min-width: 768px) {
    .tab_products_gr {
        flex: 1;
    }
}

@media screen and (max-width: 767px) {
    .tab_products_gr {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;
    }

    .tab_products_row {
        justify-content: center;
    }
}

.tab_show {
    display: flex;
}

.tab_hide {
    display: none;
}

.collection_tab_gr {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.collection_tab_gr>div {
    padding-left: 10px;
    padding-right: 10px;
}

.collection_tab__container {
    width: calc(2*100% / 3);
}

.categories__container {
    width: calc(100% / 3);
}

@media screen and (max-width: 991px) {

    .collection_tab__container,
    .categories__container {
        width: 100%;
    }

    .categories__container {
        margin-top: 60px;
    }
}

@media screen and (max-width: 767px) {
    .categories__container {
        margin-top: 30px;
    }
}

.categories__container_gr {
    padding: 24px;
    border-radius: 4px;
    padding-top: 15px;
    height: 100%;
    background-color: #fff;
}

.categories__container_gr_title {
    font-size: 24px;
    color: #000000;
}

.categories__content_row {
    margin-bottom: -20px;
    justify-content: center;
    padding-top: 15px;
}

.categories__content_row>div {
    margin-bottom: 20px;
}

.category__image_content {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.category__image_content_image {
    display: inline-block;
    width: 84px;
    max-width: 100%;
}

.category__image_content_image_svg svg,
.category__image_content_image_svg {
    width: 100%;
    height: auto;
}

.category__image_content_image:hover+.category__caption,
.category__caption:hover {
    color: var(--color_primary);
}

.category__caption {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    color: var(--color_heading);
}

.category__image_content_image:hover+.category__caption,
.category__caption:hover {
    color: var(--color_primary);
}

@media screen and (max-width: 767px) {
    .category__caption {
        font-size: 13px;
    }
}

@media screen and (max-width: 1199px) {
    .categories__container_gr {
        padding-top: 20px;
    }

    .categories__content_row.row {
        margin-bottom: -30px;
    }

    .categories__content_row>div {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 424px) {
    .category__caption {
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .tab_products_row>div:nth-child(4n+1) {
        display: none !important;
    }
}