.skeleton {
    animation: skeletonloading 1s linear infinite alternate;
    display: block !important;
    height: 22px;
    border-radius: 5px;
}

@keyframes skeletonloading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/* Collection Skeleton*/
.template_collection_wrapper {
    margin-top: 53px;
}

.skeleton_collection_sidebar1 {
    width: 100%;
    height: 440px;
}

.skeleton_collection_sidebar2 {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.skeleton_collection_sidebar3 {
    width: 100%;
    height: 229px;
    margin-top: 20px;
}

.skeleton_collection_title {
    width: 200px;
}

.skeleton_collection_desc {
    width: 100%;
    height: 63px;
    margin-top: 20px;
}

.skeleton_collection_banner {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.skeleton_collection_toolbar {
    width: 100%;
    margin-top: 20px;
}

.skeleton_collection_productgrid {
    width: 227px;
    height: 350px;
    margin-top: 20px;
    margin-right: calc(3rem * .5);
    margin-left: calc(3rem * .5);
}

@media screen and (max-width: 768px) {
    .skeleton_collection_productgrid {
        width: 150px;
        height: 220px;
    }
}

.skeleton_collection_content {
    padding-left: 20px;
}

/* Product Skeleton */
.template_product_wrapper {
    margin-top: 53px;
}

.skeleton_product_topimage {
    width: 587px;
    height: 587px;
}

.skeleton_product_galleryimage {
    width: 122px;
    height: 122px;
    margin-right: 10px;
}

.skeleton_product_galleryimage:last-child {
    margin-right: 0px;
}

.skeleton_product_thumbnail {
    display: flex;
}

.skeleton_product_title {
    width: 80%;
    height: 26px;
}

.skeleton_product_price {
    margin-top: 20px;
    width: 100px;
}

.skeleton_product_rating {
    margin-top: 20px;
    width: 200px;
}

.skeleton_product_earnpoint {
    margin-top: 20px;
    width: 80%;
}

.skeleton_product_formitem {
    display: flex;
}

.skeleton_product_advancebox {
    margin-top: 20px;
    width: 130px;
    height: 150px;
    margin-right: 10px;
}

.skeleton_product_varianttitle {
    width: 200px;
    margin-top: 20px;
}

.skeleton_product_variantbox {
    width: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

.skeleton_product_qty {
    margin-top: 20px;
    width: 200px;
    margin-top: 20px;
}

.skeleton_product_button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.skeleton_product_terms {
    margin-top: 20px;
    width: 100%;
    margin-top: 20px;
}

.skeleton_product_sidebar1 {
    width: 100%;
    height: 440px;
}

.skeleton_product_sidebar2 {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.skeleton_product_sidebar3 {
    width: 100%;
    height: 160px;
    margin-top: 20px;
}

/* Search Skeleton*/
.skeleton_search_wrapper {
    margin-top: 83px;
}

.skeleton_search_resulttext {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.skeleton_search_productgrid {
    width: 225px;
    height: 300px;
    margin-top: 20px;
    margin-right: calc(3rem * .5);
    margin-left: calc(3rem * .5);
}

@media screen and (max-width: 768px) {
    .skeleton_search_productgrid {
        width: 157px;
        height: 220px;
    }
}

/* Cart Skeleton*/
.skeleton_cart_wrapper {
    margin-top: 40px;
}

.skeleton_carttable_heading {
    margin-top: 40px;
    width: 100%;
}

.skeleton_carttable_item {
    display: flex;
    margin-top: 30px;
}

.skeleton_carttableitem_img {
    width: 80px;
    height: 80px;
}

.skeleton_carttableitem_info {
    margin-left: 30px;
}

.skeleton_carttableiteminfo_title {
    width: 190px;
}

.skeleton_carttableiteminfo_text {
    width: 70px;
    margin-top: 5px;
}

.skeleton_carttableitem_more {
    width: 170px;
    margin-left: 100px;
}

.skeleton_carttableitem_more2 {
    width: 50px;
    margin-left: 100px;
}

.skeleton_carttable_footer {
    margin-top: 30px;
    width: 100%;
}

.skeleton_carttable_button {
    margin-top: 30px;    
    height: 50px;
}

.skeleton_carttable_button1 {
    width: 200px;
    height: 40px;
    float: left;
}
.skeleton_carttable_button2 {
    width: 200px;
    height: 40px;
    float: right;
}

@media screen and (max-width: 768px) {
    .skeleton_carttable_button2 {
        float: left;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}